.label-action-edit:hover {
    background-color: #e3f2fd !important;
}

.label-action-delete:hover {
    background-color: #ffebee !important;
}

.label-confirm-delete-box {
    background-color: #ffebee;
    border: 1px solid #ffcdd2;
}

::deep .cancel-btn {
    text-transform: none !important;
}

::deep .btn-create {
    background-color: #5C6BC0 !important;
    color: white !important;
    text-transform: none !important;
    transition: background-color 0.2s ease-in-out;
}

    ::deep .btn-create:hover {
        text-transform: none !important;
        background-color: #3949AB !important;
    }

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar {
    scrollbar-width: thin !important;
    scrollbar-color: #bdbdbd transparent !important;
}

.label-list {
    max-height: 30vh;
    padding-right: 4px;
}

::deep .btn-new-label{
    height: 4vh !important;
    text-transform: none !important;
}

::deep .custom-color-wrapper > .mud-picker > .mud-input-control .mud-input {
    background-color: var(--selected-color) !important;
    transition: background-color 0.2s;
}

::deep .custom-color-wrapper > .mud-picker > .mud-input-control input {
    color: transparent !important;
    caret-color: transparent !important;
    cursor: pointer !important;
}

::deep .custom-color-wrapper > .mud-picker > .mud-input-control .mud-icon-button {
    color: var(--icon-color) !important;
    transition: color 0.2s;
}
